@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap");
 
* { 
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
  box-sizing: border-box;
}

header{
  width: 100%;
  background-color: #323235;
}
a {
  color: #a4a5a6;
  font-weight: 500;
  transition: 0.3s;
}
.nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  margin-left: 10.6rem;
  margin-right: 10.6rem;
}

.headerItems { 
  display: flex;
  align-items: center;
}

.navList { 
  display: flex;
  position: relative;
  left: 270px;
}

.navItem { 
  margin-left: 3rem;
}

.navItem a:hover { 
  color: white;
}

